/********************/
/*! General Styles  */
/********************/

body {
  background: #ffffff;
  color: #222222;
  font: 85%/1.5em Georgia, Times, 'Times New Roman', serif;
}

@media (min-width: 48em) {
  body {
    font-size: 100%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Links */
a {
  color: #7186a3;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #4e5e76;
}

/* Lists */
ul {
  padding: 0;
}

/*******************/
/*! Helper Styles  */
/*******************/

/* Hide Visually */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/************/
/*! Layout  */
/************/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 53.75em;
}

.container::after {
  clear: both;
  content: '';
  display: table;
}

/* Columns */
@media (min-width: 48em) {
  .med-one-third {
    float: left;
    width: 35%;
  }

  .med-two-thirds {
    float: left;
    width: 65%;
  }
}

/************/
/*! Blocks  */
/************/

/* Header */
.site-header {
  padding: 2.5em 0 1.5em;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
}

.site-header__img {
  border: 1px solid #d4d4d4;
  border-radius: 100px;
  height: 12.5em;
  width: 12.5em;
  padding: 0.125em;
}

.site-header__contact {
  list-style: none;
}

.site-header__contact--item {
  display: inline-block;
  padding: 0.5em;
}

/* Sections */
.section {
  padding: 1.5em 0;
}

.section::after {
  clear: both;
  content: '';
  display: table;
}

/* Time periods */
.time {
  float: right;
  font-size: 0.875em;
  font-weight: normal;
}

/* Skills */
@media (min-width: 30em) {
  .skills__info--list {
    display: inline-block;
    width: 30%;
  }
}

/* Profiles */
.profiles__link:first-child {
  margin-left: -0.5em;
  padding-left: 0;
}

.profiles__link:hover,
.profiles__link:active,
.profiles__link:focus {
  position: relative;
  top: 2px;
}

.profiles__link.pinterest {
  color: #a02d22;
}

/* Testimonials */
.testimonial__quote {
  margin-left: 0;
  padding-left: 1.25em;
  border-left: 3px solid #a25637;
}

.testimonial__quote:first-child {
  margin-bottom: 2em;
}
